<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/bulma.css') }}">
</head>

<body>
    
    <div class="container">
        <p class="menu-label is-size-4 has-text-warning">STUDENT INFORMATION SYSTEM</p>
        <div class="columns">
            <div class="column is-half-quarter">
                <aside class="menu">
                    <ul class="menu-list">
                        <li><a class="has-text-info" href="#student-list">STUDENT list</a></li>
                        <li><a class="has-text-info" href="#Courses">courses</a></li>
                        <li><a class="has-text-info" href="#Grades">Grades</a></li>
                        <li><a class="has-text-info" href="#Reports">Reports</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                
                <section id="student list" class="section"></section>
                <p class="menu-label is-size-4 has-text-warning">COURSES</p>
                <button Class="button is-link is-size-extrasmall">ADD COURSE</button>
                <table class="table is-bordered is-striped is-narrow is-hoverable is-small">
                    <thead>

                        <tr>
                            <th>COURSES</th>
                            <th>COURSE ID</th>
                            <th>COURSE CODE</th>
                            <th>COURSE NAME</th>
                            <th>ACTIONS</th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button Class="button is-link is-size-small">EDIT</button> <button Class="button is-link">DELETE</button></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>5</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    
   
</body>

</html>