<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/bulma.css') }}">
</head>

<body>
    <div class="container">
        <p class="menu-label is-size-4 has-text-warning">STUDENT INFORMATION SYSTEM</p>
        <div class="columns">
            <div class="column is-one-quarter">

                <aside class="menu">
                    <ul class="menu-list">
                        <li><a class="has-text-info" href="#">Student List</a></li>
                        <li><a class="has-text-info" href="#">Courses</a></li>
                        <li><a class="has-text-info" href="#">Grades</a></li>
                        <li><a class="has-text-info" href="#">Reports</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">

                <section id="student list" class="section">
                    <p class="menu-label is-size-4 has-text-warning">GRADES</h4>
                    <div class="select is-primary">
                        <select>
                            <option>callejo</option>
                            <option>cada</option>
                            <option>arias</option>
                            <option>buenafe</option>
                        </select>
                    </div>
                    <div class="select is-primary">
                        <select>
                            <option>1st semester</option>
                            <option>2nd semester</option>
                        </select>
                    </div>
                    <div class="select is-primary">
                        <select>
                            <option>2023</option>
                            <option>2024</option>
                        </select>
                    </div>

                    <button Class="button is-link is-size-small">SUBMIT</button>
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>

                            <tr>
                                <th>SUBJECT CODE</th>
                                <th>SUBJECT</th>
                                <th>TEACHER</th>
                                <th>MIDTERM</th>
                                <th>FINAL</th>
                                <th>REMARKS</th>
                            </tr>

                        </thead>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>

                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>6</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </section>
</body>

</html>