<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <center>

        <h1>Simple login</h1>
        <label>Error Message:</label>
        <br><br>

        <form action="check-user" method="POST">

            <label id="userLabel" class="text-design">Username:</label>
            <input name="username"type="text">
            <br><br>

            <label id="passLabel" class="text-design">Password:</label>
            <input name="password"type="text">
            <br><br>

            <a href="#" class="link-style">Forgot Password<br></a>
            <br>

            <button>Login</button>
            <br><br>
        </form>
        <a href="register.html" class="link-style">Register Here</a>
        <a href="login.html"></a>
    </center>
</body>

</html>