<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/bulma.css') }}">
</head>
</head>

<body class="has-background-dark">
    
     <div class="columns">
                <div class="column is-one-quarter">
                    <aside class="menu">
                    <h1 class="title is-size-9 has-text-warning ">STUDENT INFORMATION SYSTEM</h1>
                    <ul class="menu-list">
                    <li><a class="has-text-black" href="#student-list">Student List</a></li>
                    <li><a class="has-text-black" href="#Courses">Courses</a></li>
                    <li><a class="has-text-black" href="#Grades">Grades</a></li>
                    <li><a class="has-text-black" href="#Reports">Reports</a></li>
                </ul>
            </aside>
            </div>

            
                    <div class="column">
                        
                        <section id="student list" class="section">
                        <h1 class="title has-text-warning">STUDENT LIST</h1>
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>STUDENT ID</th>
                                <th>LASTNAME</th>
                                <th>FIRSTNAME</th>
                                <th>MIDDLENAME</th>
                                <th>SEX</th>
                                <th>BIRTHDAY</th>
                                <th>ADDRESS</th>
                                <th>COURSE ID</th>
                                
                            </tr>
                       
                        
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td>{{ student[0] }}</td>
                                        <td>{{ student[1] }}</td>
                                        <td>{{ student[2] }}</td>
                                        <td>{{ student[3] }}</td>
                                        <td>{{ student[4] }}</td>
                                        <td>{{ student[5] }}</td>
                                        <td>{{ student[6] }}</td>
                                        <td>{{ student[7] }}</td>
                                        <td>
                                            <a href="{{ url_for('update_students',student_id=student[0]) }}"class="button is-warning is-small" onclick="updateFunction">Update</a>
                                            <form action="{{ url_for('delete_student',student_id=student[0]) }}" method="POST" style="display:inline;">
                                                <button type="submit" class="button is-danger is-small" onclick="deleteFunction">Delete</button>
        
                                                <script>
                                                    function updateFunction() {
                                                        alert("Update button clicked");
                                                    }
                                                    function deleteFunction() {
                                                        alert("Delete button clicked");
                                                    }
                                                </script>
                                                </form>
                                        </td>
                                        
                                    </tr>
                                {% endfor %}
                                </thead>
                                </tbody>
                                </table>
                            </section>
                            </div>
                            </div>                      
        </body>
        </html>