<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma/bulma.css') }}">
</head>
</head>

<body>
        <div class="container">
            <p class="menu-label is-size-4 has-text-warning ">STUDENT INFORMATION SYSTEM</p>
            <div class="columns">
                <div class="column is-half-quarter">
                    <aside class="menu">
                    <ul class="menu-list">
                    <li><a class="has-text-info" href="#student-list">Student List</a></li>
                    <li><a class="has-text-info" href="#Courses">Courses</a></li>
                    <li><a class="has-text-info" href="#Grades">Grades</a></li>
                    <li><a class="has-text-info" href="#Reports">Reports</a></li>
                </ul>
            </aside>
            </div>
                    <div class="columns">
                        <section id="student list" class="section"></section>
                        <p class="menu-label is-size-3 has-text-warning">STUDENT LIST</p>
                      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>STUDENT ID</th>
                                <th>NAME</th>
                                <th>SEX</th>
                                <th>ADDRESS</th>
                                <th>COURSE</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            <tr>
                                <td>5</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                        
</body>
</html>